@import "../../global/mixin.scss";

.medicPageWrapper {
  @include flex;
  @include font-regular;

  max-width: 900px;
  margin: 10px auto;
  border-radius: 5px;
  flex-wrap: wrap;
  border: 1px solid rgba(63, 81, 181, 0.05);
  background-color: rgba(63, 81, 181, 0.1);
  box-shadow: 0 -1px 1px 1px rgba(11, 16, 41, 0.2) inset;
  font-size: 20px;

  > div {
    padding: 5px 10px;
    width: 100%;
  }

  .icons {
    text-align: center;

    > button {
      color: #3f51b5;
    }
  }

  .medicPagePhoto {
    padding: 5px;
    margin: 10px auto;
    height: 300px;
    width: auto;
    box-shadow: 1px 1px 3px  rgba(63, 81, 181, 0.5);
    border-radius: 3px;
    overflow: hidden;
  }

  .medicPageName {
    @include font-bold;

    font-size: 1.3em;
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px 5px #020b3d;
  }

  .medicPageSpec {
    @include flex;

    align-items: center;
    justify-content: center;

    > img {
      margin-right: 20px;
    }

    color: #3f51b5;
    font-size: 1.5em;

    @include font-bold;

    text-align: center;
  }

  .medicPageCat {
    color: rgb(90, 90, 90);
  }

  .medicPageExp {
    @include font-bold;

    font-size: 0.8em;
  }

  .medicPageGraduation {
    color: rgb(90, 90, 90);
    font-size: 0.8em;
  }

  hr {
    width: 100%;
    height: 5px;
    box-shadow: 0 -1px 2px 2px rgba(63, 81, 181, 0.5) inset;
    margin: 10px 0;
  }

  .medicPageCategoryLogo {
    width: 48px !important;
    height: 48px !important;
    // z-index: 0 !important;
    // pointer-events: none !important;
  }

  .medicPageCenter {
    span {
      @include font-bold;

      color: #3f51b5;
    }

    > div {
      padding: 5px 10px;
    }

    padding: 5px 15px;

    @include flex;

    flex-wrap: wrap;

    .medicPageLogo {
      width: 175px;
      padding: 5px;
      box-shadow: 1px 1px 5px  rgba(63, 81, 181, 0.5);
      margin: 0 0 20px 15px;
    }

    .medicPageCenterFullName {
      width: calc(99% - 190px);
      color: #3f51b5;
      font-size: 1.3em;

      @include font-bold;

      text-align: center;
    }

    .medicPageCenterAdress {
      width: 100%;
      padding-right: 15px;
      text-align: right;
      color: rgb(90, 90, 90);
      font-size: 0.8em;
    }

    .medicPageSubWrapper {
      max-height: 350px;

      @include flex;

      flex-direction: column;
      flex-wrap: wrap;
      width: 100%;

      > div {
        width: 48%;
        margin-bottom: 10px;
      }

      .iframeMap {
        height: 300px;
        width: 48%;
      }
    }

    .medicPageCenterPrices {
      color: rgb(90, 90, 90);

      > div:first-child {
        margin-bottom: 8px;
      }
    }

    .medicPageCenterScheduleBtn {
      span:first-child {
        color: cornsilk;
      }
    }
  }
}

@media (max-width: 576px) {
  .medicPageWrapper {
    .medicPageCenter {
      .medicPageCenterFullName {
        width: 100%;
      }

      .medicPageCenterAdress {
        text-align: center;
      }

      .medicPageLogo {
        margin: 0 auto 20px;
      }

      .medicPageSubWrapper {
        max-height: inherit;

        > div {
          width: 100%;
        }

        .iframeMap {
          width: 98%;
          margin: 0 auto;
          order: -1;
          margin-bottom: 20px;
        }
      }

      > div {
        width: 100%;
      }
    }
  }
}
