@import "../../global/variables.scss";
@import "../../global/mixin.scss";

.medicsCard {
    -webkit-tap-highlight-color: transparent;
    @include font-regular;
    border: 1px solid rgba(63,81,181, 0.2);
    margin: 10px 0;
    max-width: 400px;
    width: 49%;
    display: grid;
    align-content: center;
    grid-template-columns: 0.6fr repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr) 0.6fr repeat(2, 1fr) 0.6fr 1.5fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    padding: 10px;
    color: #0c0146;
    border-radius: 5px;
    background-color: rgba(63,81,181, 0.05);
    transition: all .5s;
    font-size: 20px;
    cursor: pointer;
    &:hover {
        background-color: rgba(63,81,181, 0.2);
        box-shadow: 3px 3px 5px  rgba(63,81,181, 0.3);
        }
    overflow-wrap: normal;
    img {
        grid-area: 1 / 1 / 5 / 2;
        border-radius: 5%;
        display: block;
    }
    .medicFullname {
        align-self: center;
        grid-area: 1 / 2 / 3 / 4;
        @include font-bold;
        font-size: 1.2em;
    }
    .medicExperience {
        font-size: 1em;
        grid-area: 3 / 2 / 4 / 4;
    }
    .medicCallbacks {
        font-size: 0.9em;
        grid-area: 4 / 2 / 5 / 4;
        color: grey;
    }
    .medicSpecs {
        @include font-bolder;
        font-size: 1.3em;
        grid-area: 5 / 1 / 6 / 4;
    }
    .medicCategory {
        font-size: 0.8em;
        grid-area: 6 / 1 / 7 / 4;
    }
    .medicAppointmentBtn {
        @include font-bolder;
        padding: 0 10px;
        color: honeydew;
        letter-spacing: 2px;
        text-transform: uppercase;
        text-shadow: 2px 2px 5px #0c0146;
        height: 45px;
        font-size: 1rem;
        grid-area: 7 / 1 / 8 / 2;
        background-image: linear-gradient(to right, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
        background-size: 200% auto;
        transition: .2s;
        border-radius: 5px;
        &:hover {
            box-shadow: 2px 2px 5px #0c0146;
            animation: growing 0.5s linear 2;
        }
        @keyframes growing {
            25% {transform: scale(1.05);}
            50% {transform: scale(1.1);}
            75% {transform: scale(1.05);}
            100% {transform: scale(1);}
        }
        &:active {
            transform: translate(2px, 2px);
            text-shadow: inset 2px 2px 1px #0c0146;;
        }
    }
}

@media (max-width: 767px) {
   .medicsCard {
        font-size: 20px;
   } 
}
@media (max-width: 576px) {
    .medicsCard {
        font-size: 24px;
        max-width: 95%;
        width: 95%;
        margin: 5px auto;
    } 
 }
 @media (max-width: 400px) {
    .medicsCard {
        font-size: 18px;
        .medicFullname {
            font-size: 0.95em; 
        }
        img {
            max-width: 120px;
        }
    } 
 }