@import "../../global/mixin.scss";

.medicsListWrapper {
    @include flex;
    flex-wrap: wrap;
    max-width: 850px;
    overflow-y: scroll;
    max-height: 100vh;
    justify-content: space-around;
    margin: 0 auto;
}