.wrapper {
  margin: auto;
  width: 60%;
  display: flex;
  height: calc(100vh - 154px);
}

.item {
  max-width: 800px;
  width: 100%;
  color: #bdbdbd;
}

.avatar {
  position: relative;

  &:hover {
    cursor: pointer;
  }
}

.upload {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.avatar:hover .upload {
  display: block;
}
