* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}
  
footer,
header {
  display: block;
  width: 100%;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(63, 81, 181, 1);
  background-color: rgba(63, 81, 181, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  // box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  background-color: rgba(63, 81, 181, 0.5);
}
