/* color scheme */
$dark-blue-crayola: #3f51b5;
$very-dark-blue-crayola: #0a175e;
$very-light-blue: #9aacda;
$light-blue: #8ec7d4;
$light-carmine-pink: #df655c;
$dull-gray: #616161;
$pearl-beige: #6e5e55;
$white: white;
$sea-green-craiola: #8bdbcb;

/* font-size */
$text_medium: 16px;
$text_big: 24px;
$text_small: 14px;
$text_extra_small: 12px;
