/*color scheme*/
$dark-blue-crayola: #3f51b5;
$very-light-blue: #9AACDA;
$light-blue: #8ec7d4;
$light-carmine-pink: #DF655C;
$dull-gray: #616161;
$pearl-beige: #6E5E55;
$white: white;
$sea-green-craiola: #8bdbcb;

/*font-size*/
$text_medium: 16px;
$text_big: 24px;
$text_small: 14px;
$text_extra_small: 12px;