@import '../../global/mixin.scss';

.popover {
  position: relative;
}

.closeButton {
  position: absolute !important;
  right: 5px;
  top: 5px;
}

.sing {
  width: 90%;
  margin: 5px 5px 15px !important;
}

.wrapper {
  margin: 15px !important;
  border-top: 1px solid #cccccc;
  padding: 15px 0;

  .item {
    margin: 10px 0;

    .link {
      @include flex;
      justify-content: flex-start;
      color: black;

      .avatar {
        width: 30px;
        height: 30px;
        margin-right: 10px !important;
      }
    }
  }
}
