@import "../../global/variables.scss";
@import "../../global/mixin.scss";

.footer {
  background: $dark-blue-crayola;
  color: $very-light-blue;
  @include flex;
  width: 100%;
  height: 90px;
  padding: 10px 20px;
  span {
    color: $very-light-blue;
  }
  a {
    text-decoration: none;
    color: $very-light-blue;
  }
}

.githubLinksContainer {
  @include flex-column;
}
